<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/b4ce8538-81bb-44d7-9271-168725cd89b1/resourceGroups/DesarrolloMovil/providers/Microsoft.ApiManagement/service/WebApiEscuelaApi/apis/WebApiEscuela</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/b4ce8538-81bb-44d7-9271-168725cd89b1/resourceGroups/DesarrolloMovil/providers/Microsoft.Web/sites/webapiescuela</ResourceId>
    <ResourceGroup>DesarrolloMovil</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://webapiescuela.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9a8c007d-7e5d-43a9-9bce-aa690124fb65</ProjectGuid>
    <PublishUrl>https://webapiescuela.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapiescuela</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>